{% extends 'base/admin_base.html' %}
{% block title %}Message{% endblock title %}
{% block message %}active{% endblock message %}
{% block content %}
<div class="pagetitle">
    <h1>Message</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'memberlist' %}">Members</a></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
 
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Message</h5>

      <!-- List group with Advanced Contents -->
      {% for contact in messages %}
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Message from {{ contact.name }}</h5>
            <small class="text-muted">{{ contact.date }}</small>
          </div>
          <p class="mb-1">{{ contact.email }}</p>
          <small class="text-muted">{{ contact.message }}</small>
        </a>
       
      </div><!-- End List group Advanced Content -->
      <hr>
     {% empty %}
     No Messages !
      {% endfor %}
      
    </div>
  </div>
{% endblock content %}