{% extends 'base/admin_base.html' %}
{% block title %}Add Plans{% endblock title %}
{% block content %}
<script src="https://cdn.tailwindcss.com"></script>
<div class="pagetitle">
      <h1>Add Plans</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'memberlist' %}">Plans</a></li>
          <li class="breadcrumb-item active">Add</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
   

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add Plan</h5>

              <!-- Vertical Form -->
              {% load crispy_forms_tags %}
              <form class="row g-3" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                {{ form|crispy}}
                <button type="submit"
                class="transition duration-200 bg-gray-700 hover:bg-gray-800 focus:bg-gray-900 focus:shadow-sm focus:ring-4 focus:ring-gray-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
                <span class="inline-block mr-2">Add</span>
               
              </button>

              </form><!-- Vertical Form -->

            </div>
          </div>


{% endblock content %}