{% extends 'base/admin_base.html' %}
{% block title %}{{ customer.fullName }}{% endblock title %}
{% block content %}
<div class="pagetitle">
  <h1>User Detail</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'memberlist' %}">Members</a></li>
      <li class="breadcrumb-item">{{ customer.fullName }}</li>
    </ol>
  </nav>
</div><!-- End Page Title -->
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ customer.photo.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Member Detail Page</h5>
        <ul class="list-group">
          <li class="list-group-item">Name: {{ customer.fullName  }}</li>
          <li class="list-group-item">Address: {{ customer.address }}</li>
          <li class="list-group-item">Email: {{ customer.email }}</li>
          <li class="list-group-item">Contact: {{ customer.contact }}</li>
          <li class="list-group-item">Gender: {{ customer.uid }}</li>
          <li class="list-group-item">Joining Date: {{ customer.joining_date }}</li>
          <li class="list-group-item"> <a href="{% url 'memberupdate' customer.pk %}">Update</a> <a href="{% url 'memberdelete' customer.pk %}">Delete</a>  </li>
    
        </ul><!-- End Default List group -->
    
      </div>
    </div>
  </div>
</div><!-- End Card with an image on left -->



<div class="card">
  <div class="card-header"> <a href="{% url 'addpayment' %}">Add New Payment</a> </div>
  <div class="card-body">
    <h5 class="card-title">Payment History</h5>

    <!-- Default List group -->
    {% for payment in payments %}
    <ul class="list-group">

    <li class="list-group-item">Date: {{ payment.date }}</li>
    <li class="list-group-item">Description: {{ payment.description }}</li>
    <li class="list-group-item">Amount: {{ payment.amount }}</li>
    <li class="list-group-item">For Months: {{ payment.type.price }}</li>

  </ul><!-- End Default List group -->
  <hr>
  {% empty %}
  No Payment Yet
  {% endfor %}


  </div>
</div>

{% endblock content %}