{% extends 'base/admin_base.html' %}
{% block title %}Update Customer{% endblock title %}
{% block content %}
<script src="https://cdn.tailwindcss.com"></script>

<div class="pagetitle">
      <h1>Update Members</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'memberlist' %}">Members</a></li>
          <li class="breadcrumb-item active">Update</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
   

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Update Member {{ customer.fullName }}</h5>

              <!-- Vertical Form -->
              {% load crispy_forms_tags %}
              <form class="row g-3" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                {{ form|crispy}}
                <button type="submit"
                class="transition duration-200 bg-gray-700 hover:bg-gray-800 focus:bg-gray-900 focus:shadow-sm focus:ring-4 focus:ring-gray-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
                <span class="inline-block mr-2">Update</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                  class="w-4 h-4 inline-block">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                </svg>
              </button>
                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>


{% endblock content %}