{% extends 'base/admin_base.html' %}
{% block title %}Update Customer{% endblock title %}
{% block content %}
<div class="pagetitle">
      <h1>Update Members</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'memberlist' %}">Members</a></li>
          <li class="breadcrumb-item active">Update</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
   

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Update Member {{ customer.fullName }}</h5>

              <!-- Vertical Form -->
              {% load crispy_forms_tags %}
              <form class="row g-3" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                {{ form|crispy}}
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>


{% endblock content %}