{% extends 'base/admin_base.html' %}
{% block title %}Payment{% endblock title %}
{% block payment %}active{% endblock payment %}
{% block content %}
<div class="pagetitle">
  <h1>Transaction History</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      <li class="breadcrumb-item active">Payment</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<div class="card">
    <div class="card-body">
      <h5 class="card-title">Transaction History</h5>
      {% comment %} <p> <a href="{% url 'addcustomer' %}" > <code>.add</code> </a> </p> {% endcomment %}
      <!-- Table with stripped rows -->
      <table class="table datatable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Member</th>
            <th scope="col">Amount</th>
            <th scope="col">Remarks</th>
          </tr>
        </thead>
        <tbody>
          {% for payment in payments %}

          <tr>
            <th scope="row">{{payment.id}}</th>
            <td>{{ payment.date }}</td>
            <td>{{ payment.member }}</td>
            <td>{{ payment.amount }}</td>
            {% load mathfilters %}
            <td> 
              {% if payment.amount < payment.type.price %}
              Due {{ payment.type.price | sub:payment.amount }}
              {% elif payment.amount == payment.type.price%} Clear 
              {% else %} Extra {{ payment.amount | sub:payment.type.price }} {% endif %}</td>
            
          </tr>
          {% endfor %}


        </tbody>
      </table>
      
      <!-- End Table with stripped rows -->

    </div>
  </div>
{% endblock content %}