{% extends 'base/admin_base.html' %}
{% block title %}All Trainers{% endblock title %}
{% block trainers %}active{% endblock trainers %}
{% block content %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Trainers</h5>
      <p> <a href="{% url 'addtrainer' %}" > Add New Trainer </a> </p>
      <!-- Table with stripped rows -->
      <table class="table datatable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Contact</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for trainer in trainerlist %}

          <tr>
            <th scope="row">{{trainer.id}}</th>
            <td>{{ trainer.fullName }}</td>
            <td>{{ trainer.address }}</td>
            <td>{{ trainer.contact }}</td>
            {% comment %} <td><a href="{% url 'addtrainer' trainer.pk %}">View</a></td> {% endcomment %}
          </tr>
          {% endfor %}

        </tbody>
      </table>
      <!-- End Table with stripped rows -->

    </div>
  </div>
{% endblock content %}