{% extends 'base/admin_base.html' %}
{% block title %}Add Trainer{% endblock title %}
{% block content %}
<div class="pagetitle">
      <h1>Add Trainer</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'trainerlist' %}">Trainer</a></li>
          <li class="breadcrumb-item active">Add</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
   

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add Trainer</h5>

              <!-- Vertical Form -->
              {% load crispy_forms_tags %}
              <form class="row g-3" method="post">
                  {% csrf_token %}
                {{ form|crispy}}
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>


{% endblock content %}