{% extends 'base/admin_base.html' %}
{% block title %}{{ trainer.fullName }}{% endblock title %}
{% block content %}
<div class="pagetitle">
  <h1>User Detail</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'trainerlist' %}">Trainers</a></li>
      <li class="breadcrumb-item">{{ trainer.fullName }}</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<div class="card">
  <div class="card-body">
    <h5 class="card-title">User Detail View</h5>

    <!-- Default List group -->
    <ul class="list-group">
      <li class="list-group-item">Name: {{ trainer.fullName  }}</li>
      <li class="list-group-item">Address: {{ trainer.address }}</li>
      <li class="list-group-item">Email: {{ trainer.email }}</li>
      <li class="list-group-item">Contact: {{ trainer.contact }}</li>
      <li class="list-group-item">Gender: {{ trainer.gender }}</li>
      <li class="list-group-item">Joining Date: {{ trainer.joining_date }}</li>

    </ul><!-- End Default List group -->


  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Member assigned to {{ trainer.fullName }}</h5>

    <!-- Default List group -->
    {% for member in members %}
    <ul class="list-group">

    <li class="list-group-item">Name: {{ member.fullName }}</li>
    <li class="list-group-item">Email: {{ member.email }}</li>
    <li class="list-group-item">Contact: {{ member.contact }}</li>

  </ul><!-- End Default List group -->
  <hr>
  {% empty %}
  No Payment Yet
  {% endfor %}


  </div>
</div>

{% endblock content %}